.container {
    display: flex;
    justify-content: flex-end;
  }
  
  div {
    font-size: 1.5rem;
    display: flex;
    align-self: flex-end;
    padding: 0.4rem 1rem 0 0;
    color: white;
  }
  