<section>
    
    <h1>La planète Mars</h1>

    <img src="https://www.sciencesetavenir.fr/assets/img/2019/04/09/cover-r4x3w1000-5cacb5be052cc-atmosphe-re-plane-te-rouge.jpg"
        alt="phto mars" class="img1">

    <p>Il s’agit de la quatrième planète la plus proche du Soleil après MERCURE, VENUS et la TERRE. Elle présente un
        diamètre de
        6800 km environ et effectue une révolution autour du Soleil en 687 jours. Son orbite étant une ellipse assez
        prononcée
        (une ellipse est un cercle plus ou moins aplati), sa distance au Soleil est très variable. Elle est ainsi
        comprise entre 207
        et 209 millions de kilomètres. La planète rouge tourne sur elle-même en 24 h 37 m et sa masse ne représente
        qu'un dixième de
        celle de la Terre. Comme Mars est assez peu massive, une personne à sa surface y pèserait 2.63 fois moins !
        (Rappelons que la masse reste toujours constante; c'est uniquement le poids qui dépend du lieu considéré).</p>
    <p>Observée depuis l’antiquité, MARS est souvent désignée sous le nom de planète rouge en raison de sa teinte
        caractéristique, aisément perceptible à l’œil nu.</p>
    <p>C’est un monde rocheux, environ deux fois moins grand que la Terre, et dont la surface connaît des variations
        saisonnières, notamment la fonte des calottes polaires.</p>

    <img src="https://media1.giphy.com/media/3ov9jMqcKSVDAvLJgQ/giphy.gif"
        alt="système solaire" class="img2">

    <h2>LES SATELLITES :</h2>
    <p>MARS possède 2 satellites découverts en 1877 : PHOBOS et DEIMOS.
        Ce sont des blocs rocheux de forme irrégulière (ils ont la forme d’un ellipsoïde dont la plus grande dimension
        ne dépasse pas 27 km).</p>
    <p>En rotation synchrone autour de MARS,ils présentent toujours la même face à la planète. Ce sont probablement des
        astéroïdes capturés par l’attraction de MARS. DEIMOS est le plus éloigné des 2 satellites. Ils sont
        inobservables dans un instrument de petit diamètre.</p>

    <img src="https://upload.wikimedia.org/wikipedia/commons/d/db/Orbits_of_Phobos_and_Deimos.gif"
        alt="satellites naturels" class="img3">
    <h2>LES OPPOSITIONS DE MARS :</h2>
    <p>MARS arrive en opposition tous les 26 mois, mais certaines sont plus favorables que d’autres en raison de
        l’ellipticité marquée de son orbite. Quand elles se produisent au périhélie, comme en 2003, MARS se rapproche de
        nous jusqu’à 56 millions de kilomètres, et brille alors comme une étoile lumineuse de magnitude –2.8. Un
        grossissement de 75 permettra de la voir de la même taille que la Pleine Lune à l’œil nu. Mais lors d’une
        opposition aphélique, comme en 1995, MARS se trouve à 100 millions de kilomètres de distance, et nécessite un
        grossissement de 130 fois pour la voir de la même taille.</p>

    <img src="http://tpe-mars1.e-monsite.com/medias/images/pia02820.jpg" alt="relief mars" class="img4">
    <h2>LE RELIEF :</h2>
    <p> Le relief de MARS se caractérise non seulement par des cratères et des bassins d’impact analogues à ceux que
        l’on rencontre sur la LUNE ou sur MERCURE, mais aussi par des plaines volcaniques, de nombreuses failles, des
        vallées sinueuses, des champs de dunes, etc. On y observe tout à la fois des indices d’un bombardement
        météoritique ancien et des preuves d’une activité tectonique, de phénomènes de volcanisme très intenses,
        d’érosion par l’eau, d’usure et de sédimentation à grande échelle par le vent.</p>
    <p>MARS possède ainsi le volcan le plus imposant du système solaire. C’est le mont Olympe, qui atteint 600
        kilomètres de diamètre à la base, et se dresse à 26 kilomètres au dessus du niveau moyen de MARS.</p>
    <p>Les régions polaires sont recouvertes de calottes de glace et de neige carbonique, visibles depuis la Terre quand
        les conditions sont favorables. Elles s’étendent et régressent alternativement en fonction des saisons.</p>


    <h2>STRUCTURE ET COMPOSITION DU SOL :</h2>
    <p>Le sol de MARS apparaît rocailleux de couleur rouge orangé caractéristique due à la présence d’oxyde de fer. La
        composition des roches martiennes est à peu près identique à celle des roches terrestres. La différence
        essentielle réside dans la teneur en fer, environ trois fois plus importante.</p>


    <h2>ATMOSPHERE ET METEOROLOGIE : </h2>
    <p>L’atmosphère martienne est extrêmement ténue, composée quasiment en totalité de gaz carbonique. De même, la
        pression atmosphérique est très faible environ 150 fois moins importante que sur Terre.</p>
    <p>Les températures sont très basses et les écarts thermiques énormes. (+ 22°C au maximum pendant le jour et –73°C
        pendant la nuit à l’équateur.</p>
    <p>Balayant un sol sec, les vents soulèvent des poussières ferrugineuses qui provoquent une absorption et une
        diffusion de la lumière solaire, donnant à l’atmosphère une couleur ocre.</p>
    <p>A certaines époques, de violentes tempêtes se déclenchent et peuvent affecter de vastes régions. Les vents, dont
        la vitesse dépasse 200 kilomètres par heure, soulèvent alors des nuages de poussière qui peuvent monter jusqu’à
        50 kilomètres d’altitude.</p>

</section>