section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5rem;;
}

app-personne {
    margin-bottom: 1rem;
}