section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section app-nav-bar, section .marge {
    margin: 0 10% 0 10%;
}
section app-nav-top {
    padding: 1rem 0 0 1rem;
}
app-nav-top {
    margin-bottom: 2rem;
}

app-personne {
    margin-bottom: 3rem;
}
