section {
    min-height:100vh;
    background-image: url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg');
    background-size: cover;
    background-attachment: fixed;
    opacity:1;
}

app-nav-top {
    width: 100%;
}
