section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5rem;
}

section app-nav-bar, section .marge {
    margin: 0 10% 2% 10%;
}
section app-nav-top {
    padding: 1rem 0 0 1rem;
}
app-nav-top {
    margin-bottom: 2rem;
}
