section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2rem;
    padding-left: 10%;
    padding-right: 10%;
    flex-wrap: wrap;
}

img {
    width:45%;
    height: 300px;
    margin: 2rem 0 0 1rem;
}

