section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section app-nav-bar, section .marge {
    margin: 0 10% 0 10%;
}

app-nav-top {
    margin-bottom: 2rem;
    padding: 1rem 0 0 1rem;
}

img {
    width:31%;
    height: 200px;
    margin: 2rem 0 0 1rem;
}

app-nav-bar {
    border: 2px solid red;
}
