section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5rem;
}

img {
    width: 70%;
    height: 500px;
}
